<h2 id="title">Ember JSON API Resources Test App</h2>

{{outlet}}

<h4>Nav</h4>
<ul class="Blog-nav-list">
  <li class="Blog-nav-list-item">{{#link-to 'index'}}Home{{/link-to}}</li>
  <li class="Blog-nav-list-item">{{#link-to 'admin.index'}}Edit{{/link-to}}</li>
  <li class="Blog-nav-list-item">{{#link-to 'admin.create'}}Write{{/link-to}}</li>
  <li class="Blog-nav-list-item">{{#link-to 'products'}}Products{{/link-to}}</li>
  <li class="Blog-nav-list-item">{{#link-to 'employees'}}Employees{{/link-to}}</li>
  <li class="Blog-nav-list-item">{{#link-to 'pictures'}}Pictures{{/link-to}}</li>
</ul>
